/* Cacher la stylisation par défaut de la checkbox */
.delete-checkbox {
  appearance: none;
  -webkit-appearance: none; /* Compatibilité pour les anciens navigateurs */
  width: 15px;
  height: 15px;
  background-color: $primary-white;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Animation douce */
  position: relative; /* Permet de positionner correctement la coche */
}

/* Lorsque la checkbox est cochée */
.delete-checkbox:checked {
  $primary-white: $hover-secondary-color;
  $primary-black: $hover-secondary-color;
}

/* Ajouter une coche */
.delete-checkbox:checked::after {
  content: "✔";
  color: $primary-black;
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre le symbole dans la case */
}