{% extends 'base.html.twig' %}

{% block title %}Edit AvisEcheance{% endblock %}

{% block body %}
    <h1>Edit AvisEcheance</h1>

    {{ include('avis_echeance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avis_echeance_index') }}">back to list</a>

    {{ include('avis_echeance/_delete_form.html.twig') }}
{% endblock %}
