{% extends 'base.html.twig' %}

{% block title %}Edit AvisEcheance{% endblock %}

{% block body %}
    <h1 class="text-center my-5">{{ 'avis.index.actions.update'|trans }}</h1>

    {{ include('avis_echeance/_form.html.twig', {
        subtitle: 'avis.index.actions.update',
        back_path: path('app_avis_echeance_index'),
        button_label: 'admin.save'
    }) }}
{% endblock %}
