@use "sass:map";

$primary-color: #e0e5e9;
$hover-secondary-color: #8afff5;
$txt-header-color: #282A2C;
$titre-color-black: #393939;
$bg-sidebar: #f9f9f9;
$primary-white: #FFFFFF;
$primary-black: #000000;
$primary-alert: #fcdada;
$bg-status: #8afff533;

//color logo
$gris-fonce: #4C5255;
$gris-footer: #46464f;
$blue-primary: #74DBCF;
$gris-claire: #8D8D8F;
$gris-tres-clair: #9C9CA4;

// color table
$table-partiel: #FFF4CC;
$table-attente: #FFD6D9;
$table-partiel-hover: #FFEDB5;
$table-attente-hover: #FCEBED;
$table-paye-hover:  #C3EFD4;

body {
  background-color: $primary-white
}

// container
$gestiloc-container-big: 1200px;
$gestiloc-container: 1040px;

$space: (
        space0: 0,
        space050: 0.4rem,
        space100: 0.8rem,
        space150: 1.2rem,
        space250: 2rem,
        space400: 3.2rem,
        space500: 4rem,
        space600: 4.8rem,
        space800: 6.4rem,
        space1000: 8rem,
        space1200: 9.6rem,
        space1400: 11.2rem,
        space1600: 12.8rem
);
// Title
.title-h1-home {
  h1 {
    color: $titre-color-black;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 110%;
    padding-top: map-get($space, space800);
    padding-bottom: map-get($space, space800);
    text-align: center;
    @include media-breakpoint-down(lg) {
      font-size: 4.2rem;
    }
  }
}

.title-h2 {
  color: $titre-color-black;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  @include media-breakpoint-down(lg) {
    font-size: 3.1rem;
  }
}

// Text
.txt-content p {
  color: $titre-color-black;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.txt-menu-header {
  a {
    color: $txt-header-color;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
  }
}

.table-head {
  thead {
    tr {
      background-color: $bg-sidebar;
      --bs-table-bg: $bg-sidebar;

      th {
        color: $txt-header-color;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
      }
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $primary-white;
      --bs-table-bg: $primary-white;
    }

    tr:nth-child(even) {
      background-color: $bg-sidebar;
      --bs-table-bg: $bg-sidebar;
    }

    tr {

      td {
        color: $txt-header-color;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 110%;
        text-transform: capitalize;

        ul {
          padding: 0;
          margin: 0;
        }
      }
    }
    tr:hover {
      background-color: darken($bg-sidebar, 5%);
    }
  }
}

.table-show {
  tbody {
    tr {
      th {
        color: $txt-header-color;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
      }

      td {
        color: $txt-header-color;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 110%;
        text-transform: capitalize;
      }
    }
  }
}

.table-txt {
  color: $txt-header-color;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: capitalize;
}

// Button
%button-base {
  padding: 1.5rem 2rem;
  gap: 1rem;
  color: $titre-color-black;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.button-color {
  @extend %button-base;
  background-color: $blue-primary;
  border-radius: 5rem;

  &:hover {
    background-color: $hover-secondary-color;
  }
}

.button-delete {
  width: 100%;
  text-align: start;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 110%;

  &:hover {
    background-color: $gris-footer;
    color: $blue-primary;
  }
}

.delete-selected-btn {
  display: none;
}

// Margin
.margin-title-bottom {
  margin-bottom: map.get($space, space250);
}

