body {
  background-color:white;
}
.custom-navbar-bg {
  background-color:  var(--primary-color);
}

.home-page-logo img {
  width: 400px;  // Exemple de largeur
  height: auto;  // Hauteur automatique pour conserver le ratio aspect
}
.home-page-session {
  position: relative;
  height: 700px;
  overflow: hidden; /* Assurez-vous que le pseudo-élément ne dépasse pas les limites de la section */
}

.home-page-session::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/home_gestiloc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Ajustez cette valeur pour contrôler l'opacité de l'image de fond */
  z-index: -1; /* Place l'image de fond derrière le contenu de .home-page-session */
}
h1{
  font-size: 5em ;
}
