{% extends 'base.html.twig' %}

{% block title %}{{ 'lodger.index.actions.create_new'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center my-5">{{ 'lodger.index.actions.create_new'|trans }}</h1>

    {{ include('lodger/_form.html.twig', {
        subtitle: 'admin.labels',
        back_path: path('app_lodger_index'),
        button_label: 'admin.save'
    }) }}
{% endblock %}
